.contact-phone{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    /*background-color: #2196F3;*/
    padding: 0px;
    margin-top:0%;
    margin-left: 50px;
    margin-right: 50px;
    /*padding: 50px;*/

}

.contact-phone .grid-item{
    background-color: rgba(63, 146, 229, 0.8);
    text-align: center;
    /*padding: 0px 0;*/
    font-size: 10px;
    height: 200px;
    padding: 50px;
    font-size: 15px;
    font-family: -apple-system;
     border-radius: 30px;
    text-decoration: none;
    color: white;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;

}

.contact-phone .grid-item a{
    text-decoration: none;
    color: white;
}
