{% load static %}
{% include 'bash.html' %}
{% block main-content %}
<fieldset>
<h1 style="margin-top: 64px; margin-bottom: 64px"></h1>

<div class="row main-head" style="margin: 70px 0px 0px 40px">
    {% for x in pdata %}
    <div class="container">
        <div class="product-details">
            <div class="product-image">
                <img src="{{ x.product_img.url }}" alt="Product Image">
            </div>
            <div class="product-info">
                <h1 class="product-title">{{ x.product_name }}</h1>
                <h1 class="product_building">{{ x.Product_building_year.year }} </h1>
                <div class="product-rating">
                    <span class="rating-stars"></span>
                    <span class="rating-value">(4.5)</span>
                    <span class="rating-count">1000+ ratings</span>
                </div>
                <h2 class="product-price red">₹ <del style="color: red">{{ x.product_price}}</del> <ins style="text-decoration: none; color: green"> {% widthratio x.product_price x.dicount_product_price 10  %} % off</ins> </h2>
                <h2 class="product-price" style="color: blue">₹ {{ x.dicount_product_price }}</h2>
                <p class="product-id">{{ x.product_id }}</p>
                <p class="product-description">{{ x.Product_programingi_language}}</p>
                <p class="product-description"> {{x.Product_Addition_Programing_language }} <br> {{ x.product_summery }}</p>
                <div class="product-action-buttons">
                    <button class="add-to-cart-button">Add to Cart</button>
                    <button class="buy-now-button">Buy Now</button>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</fieldset>
{% endblock %}