{% load static %}
{% include 'bash.html' %}
{% block main-content %}
<fieldset>
<h1 style="margin-top: 120px; margin-bottom: 64px"></h1>
<style>
form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    font-family: -apple-system;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
    font-family: -apple-system;
}

label {
  display: block;
  margin-bottom: 8px;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
}

button[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  background-color: #4caf50;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #45a049;
}


.loginpage_in_register{
    text-align: center;
    color: black;
    text-space: 30px;
    font-family: -apple-system;
}

.loginpage_in_register a{
    text-decoration:none;
    color: green;
    width: 50px;
    height: 30px;
}

.messages{
    background-color: red;
    color: white;
    border: 3px solid cornflowerblue;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-block: cornflowerblue;
    text-align: center;

}
    </style>

<!-- login.html -->
<h2>Login</h2>
<form method="POST">
  {% csrf_token %}
   <label for="id_username">Username:</label>
    <input class="input-group-text fc-color-picker text-gray kb form-control-color" type="text" spellcheck="true"  required name="lg_user" >
    <br>
    <label for="id_password">Password:</label>
    <input class="input-group-text fc-color-picker text-gray kb form-control-color" type="password" required stroke="*"  name="pass">
    <br>
 {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
  <button type="submit">Log In</button>
    <p class="loginpage_in_register" >I am a new user ! <br> <a href="{% url "signup" %}"> Signup </a> </p>
</form>
</fieldset>
{% endblock %}



