{% load static %}
{% include 'bash.html' %}
{% block main-content %}
    <style>
    header {
    /* Add header styles here */
}

main {
    padding: 20px;
}

.about-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about-info {
    width: 45%;
}

.about-info h1 {
    font-size: 32px;
    margin-bottom: 10px;
}

.about-info p {
    margin-bottom: 10px;
}

.about-image {
    width: 40%;
}

.about-image img {
    width: 100%;
    border-radius: 5px;
}
    </style>
<fieldset>
<h1 style="margin-top: 64px; margin-bottom: 64px"></h1>



    <main>
        <section class="about-section">
            <div class="about-info">
                <h1>About Us</h1>
                <p class="" style="text-align: justify; margin-bottom: 30px">
                    {% for abo_datum in abo_data %}
                        {{ abo_datum.about_message }}
                    {% endfor %}

                </p>
            </div>
            <div class="about-image">
                <img class="" src="{% static 'icons8-project-color-96.png' %}">
            </div>
        </section>
    </main>

    <footer>
        <!-- Add the footer content here -->
    </footer>
</fieldset>
{% endblock %}