{% load static %}
{% include 'bash.html' %}
{% block main-content %}
<style>

main {
    padding: 20px;
}

.job-section {
    text-align: center;
}

.job-section h1 {
    font-size: 32px;
    margin-bottom: 20px;
}

.job-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
}

.job-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
}

.job-item h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.job-item p {
    margin-bottom: 5px;
}

.job-item a {
    display: block;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

.job-item a:hover {
    background-color: #0056b3;
}

.messages{
    background-color: red;
    color: white;
    border: 3px solid cornflowerblue;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-block: cornflowerblue;
    text-align: center;

}
</style>
<fieldset>
<h1 style="margin-top: 64px; margin-bottom: 64px"></h1>
<form method="post" enctype="multipart/form-data">
{% csrf_token %}
<main>
 {% if messages %}
    <ul class="messages">
        {% for message in messages %}
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}
    <section class="job-section">
            <h1>Job Openings</h1>
            <div class="job-list">
                {%  for x in cree_data %}
                <div class="job-item">
                    <input hidden="" type="text" name="job_title" value="{{ x.job_title }}">
                    <h2>{{ x.job_title }}</h2>
                    <p>Department: IT</p>
                    <p>Location: {{ x.job_location }}</p>
                    <p>Posted on: {{ x.job_post_date.date }}</p>
                    <p>Skill: {{ x.skills_set }}</p>
                    Upload Resume: <input type="file" name="reusme">
                    <button><a type="submit">Apply Now</a></button>
                </div>
                {%  endfor %}
{#                job items here -->#}
            </div>
        </section>
    </main>
</form>
</fieldset>
{% endblock %}