{% load static %}
{% include 'bash.html' %}
{% block main-content %}
<fieldset>
<h1 style="margin-top: 64px; margin-bottom: 64px"></h1>
<map>
    <p href="https://goo.gl/maps/LSt3HskfkVEwjRLg8"> Address </p>
</map>
<div class="contact-phone">
    <p class="grid-item">By Phone <br>
        (Monady to Friday, 9am to 6pm IST) <br>
        xyz pvt ltd<br>
        Contact No:  +91 x x x x x x x x x <br>
        International : <br>
        1-604-637-0780

    </p>
    <p class="grid-item">Social Media. <br>
        <a href="@__up57"><i class="fa-instagram">@ __Up57</i>
        <br>
        (Monady to Friday, 9am to 6pm IST) <br>
        xyz pvt ltd<br>
        Contact No:  +91 x x x x x x x x x <br>
        International : <br>
        1-604-637-0780</a>
    </p>
    <p class="grid-item">By Email <br>
       <a style="text-decoration: none; color: white" href="mailto:kmprince15932@gmail.com">kmprince15932@gmail.com</a></p>
</footer>
    </p>
</div>

</fieldset>
{% endblock %}