<!DOCTYPE html>
<html>
<head>
    <title>Checkout</title>
</head>
<body>
    <h1>Checkout Page</h1>
    {% for x in data_item %}
       <h1>{{ x.count }}</h1>
        {% endfor %}
    {% if response %}
    <form action="/success/" method="POST">


    <script
        src="https://checkout.razorpay.com/v1/checkout.js"
        data-key="rzp_test_MTWvtlzlyTazey"
        data-amount={{response.amount}}
        data-currency={{response.currency}}
        data-order_id={{response.id}}
        data-buttontext="Pay with Razorpay"
        data-name="Student Project"
        data-description=""
        data-image=""
        data-prefill.name={{request.user.username}}
        data-prefill.email={{request.user.email}}
        data-theme.color="#F37254"
    ></script>
    <input type="hidden" custom="Hidden Element" name="hidden">
    </form>
{% endif %}





</body>
</html>
